.personal_style{
        background-color: rgb(6, 100, 6);/*Button background color: "color"*/
        color: rgb(220, 230, 226);/*Button letter color: "color"*/
        padding: 12px 24px;/*Internal Button Size*/
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;/*It changes the pointer when passing over the button*/
        transition: background-color 0.3s;/*Just works by adding
                                            .personal_style:hover{
                                                background-color: "color";
                                            }*/
    }

    .personal_style:hover{
        background-color: rgb(125, 168, 49);
    }